body {
  background-color: #077054;
}
a {
  text-decoration: none;
}
a:active {
  color: white;
}
form {
  width: 100%;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 20px;
  color: #077054;
}

.header {
  margin-bottom: 30px;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}
.logo {
  font-size: 60px;
  margin-bottom: 2px;
  text-align: center;
  color: #a8f1de;
}
.sub-logo {
  margin-top: 2px;
  font-size: 27px;
  text-align: center;
  color: #a8f1de;
}

.menu a {
  list-style: none;
  width: 16%;
  float: left;
  color: #a8f1de;
  padding-left: 3%;
}

.main {
  background-color: white;
  padding: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.main p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.content {
  font-size: 600%;
  color: #315f52;
  width: 70%;
}
.featured {
  float: right;
  width: 30%;
}
.footer {
  width: 80%;
  margin-left: 10%;
  color: #a8f1de;
}
.footer p {
  margin-top: 2px;
  font-size: 10px;
}
.socials {
  float: right;
}
.body-content {
  width: 60%;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 20px;
  color: #077054;
}
.body-content h5 {
  font-weight: lighter;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.body-content h6 {
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: lighter;
}
.body-content h2 {
  font-weight: lighter;
  font-size: 30px;
  margin-bottom: 30px;
  color: #21a51e;
}
.form-group {
  margin: 10%;
  width: 100%;
}
input {
  background-color: rgb(192, 190, 190);
  width: 80%;
  height: 30px;
}
.form-content {
  margin: 10%;
}
.form-content h2 {
  font-weight: lighter;
  font-size: 30px;
  margin-bottom: 30px;
  color: #21a51e;
}
button {
  background-color: #077054;
  float: right;
  width: 100px;
  height: 30px;
  border-radius: 8px;
}
